*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(26, 34, 32);
}
.reloj{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/reloj.png);
    background-size: cover;
    border: 1rem solid rgb(226, 27, 76);
    border-radius: 50vh;
    box-shadow: inset 0px 0px 20px 5px rgb(227, 47, 92);

}

.reloj::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgb(237, 129, 156);
    border-radius: 50vh;
    z-index: 10000;
}

.hora{
    width: 150px;
    height: 150px;
}
.minuto{
    width: 190px;
    height: 190px;
}
.segundo{
    width: 250px;
    height: 250px;
}

.hora::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 70px;
    background: beige;
    z-index: 10;
    border-radius: 50vh;
}

.minuto::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 100px;
    background: rgb(226, 27, 76);
    z-index: 11;
    border-radius: 50vh;
}

.segundo::before{
    content: '';
    position: absolute;
    width: 1.8px;
    height: 150px;
    background: rgb(27, 226, 199);
    z-index: 12;
    border-radius: 50vh;
}


.hora, .minuto, .segundo{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50vh;
} 

